
.navigation-bar{
    background-color: transparent;
    background-color: #362B2E;
}
.logo-img {
    width: 150px;
}

.signIn-btn{
    width: 100px;
    height: 50px;
    background-color: white;
    font-weight: bold;

}
.signUp-btn{
    width: 100px;
    height: 50px;
    background-color: transparent;
    border: 2px solid white;
    font-weight: bold;
    color: white;
}
/* styles for the list */
@import url("https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");


body {
  --color: rgba(30, 30, 30);
  min-height: 100vh;

  display: grid;
  align-content: center;
  gap: 2rem;
  padding: 0;

  font-family: "Oxygen", sans-serif;
  color: var(--color);
  
}

h1 {
  text-align: center;
}

ol {
  width: 90%;
  margin-inline: auto;

  display: flex;
  flex-wrap: wrap;
  gap: 2rem;

  list-style: none;
  justify-content: center;
}

ol li {
  --frontColor: white;
  --width: 15em;
  --inlineP: 0.5rem;
  --borderR: 4rem;
  --arrowW: 2rem;
  --arrowH: 1.5rem;

  width: calc(var(--width) - var(--inlineP) * 2);
  display: grid;
  grid-template:
    "icon" var(--borderR)
    "title"
    "course-description" 1fr;
  margin-inline: var(--inlineP);
  margin-bottom: calc(var(--borderR));
  position: relative;
}
ol li .icon,
ol li .title,
ol li .course-description {
  background: var(--frontColor);
  padding-inline: 1rem;
  padding-bottom: 1rem;
}
ol li .icon,
ol li .title {
  color: var(--accent-color);
  text-align: center;
  padding-bottom: 0.5rem;
}

ol li .title,
ol li .course-description {
  filter: drop-shadow(0.125rem 0.125rem 0.075rem rgba(0, 0, 0, 0.25));
}
ol li .icon {
  grid-area: icon;
  font-size: 2rem;
  display: grid;
  place-items: center;
  border-radius: var(--borderR) 0 0 0;
  position: relative;
}

ol li .title {
  grid-area: title;
  font-size: 1.1rem;
  font-weight: bold;
}

ol li .course-description {
  grid-area: course-description;
  font-size: 0.85rem;
  text-align: center;
}
ol li .course-description::before {
  content: "";
  width: var(--arrowW);
  height: var(--arrowH);
  position: absolute;
  right: 1.5rem;
  top: 100%;
  background: inherit;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}

ol li::after {
  content: counter(cardnr,none);
  position: absolute;
  z-index: -1;

  left: calc(var(--inlineP) * -1);
  right: calc(var(--inlineP) * -1);
  top: var(--borderR);
  bottom: calc(var(--borderR) * -1);

  display: flex;
  align-items: flex-end;
  background: var(--accent-color);
  background-image: linear-gradient(
    160deg,
    rgba(255, 255, 255, 0.25),
    transparent 25% 75%,
    rgba(0, 0, 0, 0.25)
  );
  border-radius: 0 0 var(--borderR) 0;

  --pad: 1rem;
  padding: var(--pad);
  font-size: calc(var(--borderR) - var(--pad) * 2);
  color: white;
}
ol li::before {
  content: "";
  position: absolute;
  height: var(--borderR);
  top: calc(100% + var(--borderR) - 2px);
  left: calc(var(--inlineP) * -1);
  right: calc(var(--inlineP) * -1);
  border-radius: 0 var(--borderR) 0 0;

  background-image: linear-gradient(var(--accent-color), transparent 60%);
  opacity: 0.5;
  filter: blur(2px);
}