<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Details</title>
    <link rel="stylesheet" href="../assets/css/courseDetails.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/9fbca38443.js" crossorigin="anonymous"></script>

</head>

<style>
    .video-list {
        display: flex; /* Use flexbox to arrange items horizontally */
        overflow-x: auto; /* Enable horizontal scrolling if needed */
    }

    .video-item {
        flex: 0 0 auto; /* Don't allow flex items to grow or shrink */
        margin-right: 10px; /* Optional: Add margin between videos */
    }
</style>



<body style="background-color: rgba(128, 128, 128, 0.667);">
    <div class="container mt-5">
        <h4 class="text-center fw-bold">Details of</h4>
        <h2 class="text-center fw-bolder">{{course.title}}</h2>
        <div class="row main-row mt-4">
            <div class="col-lg-6 col-md-6 image-container text-center">
                {% if course.picture %}
                <img src="{{course.picture.url}}" class="card-img-top" alt="...">
                {% endif %}
            </div>
            <div class="col-lg-6 col-md-6 align-items-center mt-3">
                <p class="text-center">{{course.description}}</p> <br>
                <div class="d-flex  justify-content-around mt-3">

                    {% if request.user.role == 'instructor' %}
                    <a href="{%url 'course-add' %}" class="btn btn-info">ADD</a>
                    {% endif %}

                    {% if request.user.role == 'instructor' %}
                    <a href="{%url 'course-update' course.id%}" class="btn btn-info">UPDATE</a>
                    {% endif %}

                    {% if request.user.role == 'instructor' %}
                    <a href="{%url 'course-delete' course.id%}" class="btn btn-info">DELETE</a>
                    {% endif %}

                
                </div>

            </div>

        </div>

        <div class="video-list">
            {% for demovideo in course.demo_video_set.all %}
                <div class="video-item">
                    <h3 class="text-center mt-5 mb-3">{{ demovideo.title }}</h3>
                    <p class="mb-2">{{ demovideo.content }}</p>
                    <video width="320" height="240" controls>
                        <source src="{{ demovideo.video_file.url }}" type="video/mp4">
                    </video>
                </div>
            {% endfor %}
        </div>

        <div class="text-center mt-4 mb-5">
            {% if request.user.role == 'instructor' %}

            <a href="{%url 'demovideo-list'%}" class="btn btn-info">CLASS DETAILS</a>
            {%endif%}
        </div>

</body>

</html>