<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>


<style>
  .video-list {
      display: flex; /* Use flexbox to arrange items horizontally */
      flex-wrap: nowrap; /* Prevent wrapping to the next line */
      overflow-x: auto; /* Enable horizontal scrolling if needed */
  }

  .video-item {
      flex: 0 0 auto; /* Don't allow flex items to grow or shrink */
      margin-right: 10px; /* Optional: Add margin between videos */
  }
</style>


<body>

  {% if request.user.role == 'instructor' %}
  <a href="{%url 'demovideo-add' %}" class="btn btn-primary mt-2">ADD</a>
  {% endif %}

        {%for d in demovideos%}
      <!-- <div class="card-body"> -->
        <p class="card-text">{{d.course}}</p>
        <p class="card-text">{{d.title}}</p>

        <p class="card-text">{{d.content}}</p>

    <video width="320" height="240" controls>
        <source src="{{ d.video_file.url }}" type="video/mp4">
      </video>

      <div> <a href="{%url 'demovideo-detail' d.id%}" class="btn btn-primary">DETAILS</a> 
      </div>
      

  {%endfor%}
 
</body>

</html>