<!DOCTYPE html>
<html lang="en">
{%load static%}
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learning Website</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/9fbca38443.js" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="./style.css" /> -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}" defer></script>
</head>

<body>
    <!-- navbar starting -->

    <header>
        <nav class="navbar navbar-expand-lg navigation-bar sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <!-- <img src="https://i.postimg.cc/tTBdMwZq/logo.png" class="logo-img ms-3" alt="logo" > -->
                    <img class="logo-img ms-3" src="{%static 'images/logo.png' %}" alt="logo">
                    </a>
                <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav fs-4 mx-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-white active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white p" href="{%url 'course-list'%}">Courses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" aria-disabled="true">About Us</a>
                        </li>
                    </ul>
                    <form class="d-flex ms-auto" role="search">
                        <button class="signIn-btn me-2 text-dark" type="submit" ><a href="{% url 'login' %}">Sign in</button></a>
                        <button class="signUp-btn ms-2 me-2 text-dark" type="submit"> <a href="{% url 'register' %}">
                            Sign up
                        </a></button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <!-- navbar end -->

    <!-- Entry Question section start -->
    <section class="entry-question-section">
        <h1 class="text-center fw-bold mt-2 text-white">
            Learn with Ease, Master with Confidence.
        </h1>
        <h5 class="text-center mt-2" style="color: grey;">
            What do you want to learn today?
        </h5>
        <div class="row container justify-content-center">
            <div class="entry-questions p-2 m-2 col-lg-3 col-md-6 text-center">
                <a class="quetion-link" href="">I want to learn about AI</a>
            </div>
            <div class="entry-questions p-2 m-2 col-lg-3 col-md-6 text-center">
                <a class="quetion-link" href="">I want to learn JavaScript</a>
            </div>
            <div class="entry-questions p-2 m-2 col-lg-3 col-md-6 text-center">
                <a class="quetion-link" href="">Explain JavaScript Currying to me like I'm 5</a>
            </div>
            <div class="entry-questions p-2 m-2 col-lg-3 col-md-6 text-center">
                <a class="quetion-link" href="">Explain Recursion to me like I'm 5</a>
            </div>
            <div class="entry-questions p-2 m-2 col-lg-3 col-md-6 text-center">
                <a class="quetion-link" href="">I want to learn Python</a>
            </div>
            <div class="entry-questions p-2 m-2 col-lg-3 col-md-6 text-center">
                <a class="quetion-link" href="">Explain Recursion to me like I'm 5</a>
            </div>
        </div>
        <!-- suggection box -->
        <div class="container">
            <div class="row mt-4 d-flex justify-content-center align-items-center">
                <div class="col-md-8">
                    <div class="search">
                        <i class="fa fa-search"></i>
                        <input type="text" class="form-control" placeholder="What else do you want to learn ?" />
                        <button class="btn btn-dark fw-bold">GENERATE</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- suggection box -->
    </section>
    <!-- Entry Question section end -->

    <!-- select Courses start-->

    <!-- select courses end -->
    <h1 class="text-center fw-bolder text-dark mt-5"><span style="color: Tomato;">Choose From</span> Multiple Options</h1>
    <!-- for mobile and tab view -->
    <div class="course-mobile">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <h3 class="text-center text-dark">Course Name </h3>
                <p class="text-start text-dark fs-4 p-4"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa
                    est pariatur sit itaque eos iusto repellat nemo</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <h3 class="text-center text-dark">Course Name </h3>
                <p class="text-start text-dark fs-4 p-4"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa
                    est pariatur sit itaque eos iusto repellat nemo</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <h3 class="text-center text-dark">Course Name </h3>
                <p class="text-start text-dark fs-4 p-4"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa
                    est pariatur sit itaque eos iusto repellat nemo</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <h3 class="text-center text-dark">Course Name </h3>
                <p class="text-start text-dark fs-4 p-4"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa
                    est pariatur sit itaque eos iusto repellat nemo</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <h3 class="text-center text-dark">Course Name </h3>
                <p class="text-start text-dark fs-4 p-4"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa
                    est pariatur sit itaque eos iusto repellat nemo</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <h3 class="text-center text-dark">Course Name </h3>
                <p class="text-start text-dark fs-4 p-4"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa
                    est pariatur sit itaque eos iusto repellat nemo</p>
            </div>
        </div>
    </div>
    <!-- for mobile and tab view -->
    <div class="card-stack-carousel" data-interval="false">
        <div class="card-stack-carousel__inner">
            <div class="card-stack-carousel__card active">
                <img src="https://i.postimg.cc/VkxjgLxC/html-css-collage-concept-with-hacker-23-2150061984.webp" alt="">
                <div class="mt-5" style="padding: 3%;">
                    <h4 class="text-start text-white"> Course Name 1</h4>
                    <p class="text-start text-white">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa
                        est pariatur sit itaque eos iusto repellat nemo incidunt aperiam
                        dignissimos quasi dicta nulla quas, suscipit optio nam
                        perferendis qui voluptatem?
                    </p>
                </div>
            </div>
            <div class="card-stack-carousel__card">
                <img src="https://i.postimg.cc/F1t9q8ND/html-css-collage-concept-with-person-23-2150062008.webp" alt="">
                <div><h4 class="text-start text-white"> Course Name 2</h4></div>
            </div>
            <div class="card-stack-carousel__card">
                <img src="https://i.postimg.cc/056T4VF1/html-css-collage-concept-with-person-23-2150061967.webp" alt="">
                <div><h4 class="text-start text-white"> Course Name 3</h4></div>
            </div>
            <div class="card-stack-carousel__card">
                <img src="https://i.postimg.cc/F1t9q8ND/html-css-collage-concept-with-person-23-2150062008.webp" alt="">
                <div><h4 class="text-start text-white"> Course Name 4</h4></div>
            </div>
            <div class="card-stack-carousel__card">
                <img src="https://i.postimg.cc/VkxjgLxC/html-css-collage-concept-with-hacker-23-2150061984.webp" alt="">
                <div><h4 class="text-start text-white"> Course Name 5</h4></div>
            </div>
            <div class="card-stack-carousel__card">
                <img src="https://i.postimg.cc/056T4VF1/html-css-collage-concept-with-person-23-2150061967.webp" alt="">
                <div><h4 class="text-start text-white"> Course Name 6</h4></div>
            </div>
        </div>
        <ul class="card-stack-carousel__indicators">
            <li><a href="#0">1</a></li>
            <li><a href="#1">2</a></li>
            <li><a href="#2">3</a></li>
            <li><a href="#3">4</a></li>
            <li><a href="#4">5</a></li>
            <li><a href="#5">6</a></li>
        </ul>
    </div>
    <!-- Course details section start -->
    <section class="course-details-section container my-5">
        <h1 class="text-dark text-center mt-3">
            Unlock the Power of
            <span style="color: Tomato">Learning with</span> AI
        </h1>

        <div class="row p-3 justify-content-center align-items-stretch">
            <div class="col-lg-4 p-3 col-md-5">
                <div class="card w-100 card-height">
                    <div class="card-body h-100 d-flex flex-column">
                        <h3 class="card-subtitle mb-2">
                            <a class="course-icon" href=""><i style="color: Tomato;" class="fa-solid fa-sliders fa-rotate-90"></i></a>
                        </h3>
                        <h4 class="card-title">Learn with Analogies</h4>

                        <p class="card-text">
                            Our AI-powered platform uses analogies to explain complex tech
                            concepts in a way that is easy to understand and remember.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 p-3 col-md-5">
                <div class="card w-100 card-height">
                    <div class="card-body h-100 d-flex flex-column">
                        <h3 class="card-subtitle mb-2">
                            <a class="course-icon" href=""><i style="color: Tomato;" class="fa-solid fa-laptop-code"></i></a>
                        </h3>
                        <h4 class="card-title">Real-World Examples</h4>

                        <p class="card-text">
                            LearnEase AI provide real-world use cases for every concept, so
                            you can see how it is applied in practice and gain a deeper
                            understanding of how it works.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 p-3 col-md-5">
                <div class="card w-100 card-height">
                    <div class="card-body h-100 d-flex flex-column">
                        <h3 class="card-subtitle mb-2">
                            <a class="course-icon" href=""><i style="color: Tomato;" class="fa-solid fa-hand"></i></a>
                        </h3>
                        <h4 class="card-title">Hands-On Learning</h4>

                        <p class="card-text">
                            Learn by doing! LearnEase AI offer a variety of projects and
                            ready-to-run code samples that allow you to put your new
                            knowledge into practice and gain valuable experience.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 p-3 col-md-5">
                <div class="card w-100 card-height">
                    <div class="card-body h-100 d-flex flex-column">
                        <h3 class="card-subtitle mb-2">
                            <a class="course-icon" href=""><i style="color: Tomato;" class="fa-solid fa-language"></i></a>
                        </h3>
                        <h4 class="card-title">Personalized Language Learning</h4>

                        <p class="card-text">
                            Choose your preferred language for learning, making it easier to
                            understand and retain information. Whether you're a native
                            speaker or learning a new language, we've got you covered.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 p-3 col-md-5">
                <div class="card w-100 card-height">
                    <div class="card-body h-100 d-flex flex-column">
                        <h3 class="card-subtitle mb-2">
                            <a class="course-icon" href=""><i style="color: Tomato;" class="fa-solid fa-coins"></i></a>
                        </h3>
                        <h4 class="card-title">Career Level Personalization</h4>

                        <p class="card-text">
                            We understand that everyone's learning needs are different.
                            That's why we offer professional-level personalization, allowing
                            you to customize your learning experience according to your
                            skill level.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 p-3 col-md-5">
                <div class="card w-100 card-height">
                    <div class="card-body h-100 d-flex flex-column align-items-center justify-content-center">
                        <h5 class="card-title text-center">
                            <a href="" style="text-decoration: none; color: rgb(77, 75, 75)">Suggest Feature Request</a>
                        </h5>

                        <p class="text-center mt-2" style="font-size: xx-large;">
                            <a style="text-decoration: none; color: black;" href=""><i style="color: Tomato;" class="fa-plus fa-2xl"></i></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Course details section end -->

    <!-- teaching faculties -->
    <div class="container  mb-5">
        <h1 class="text-center fw-bolder text-dark mt-4 mb-5">Meet the Team</h1>
        <div class="row faculties justify-content-center">
            <div class="col-lg-4 col-md-4  justify-content-center text-center d-flex flex-column align-items-center">
                <div class="card" style="width: 18rem">
                    <img src="https://i.postimg.cc/Gh0ML5GQ/young-woman-posing-with-notebook-white-background-high-quality-photo-114579-62463.webp"
                        class="card-img-top" alt="..." />
                    <div class="card-body">
                        <h4 class="card-title text-center">Pamela Henman</h4>
                    </div>
                    <div class="mt-2 mb-3 d-flex align-items-center justify-content-center">
                        <a href="#" class="card-link teaching-icon"><i style="color: Tomato;" class="fa-brands fa-2x fa-linkedin"></i></a>
                        <a href="#" class="card-link teaching-icon"><i style="color: Tomato;" class="fa-brands fa-2x fa-instagram"></i></a>
                        <a href="#" class="card-link teaching-icon"><i style="color: Tomato;" class="fa-brands fa-2x fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4  justify-content-center text-center d-flex flex-column align-items-center">
                <div class="card" style="width: 18rem">
                    <img src="https://i.postimg.cc/Gh0ML5GQ/young-woman-posing-with-notebook-white-background-high-quality-photo-114579-62463.webp"
                        class="card-img-top" alt="..." />
                    <div class="card-body">
                        <h4 class="card-title text-center">Pamela Henman</h4>
                    </div>
                    <div class="mt-2 mb-3 d-flex align-items-center justify-content-center">
                        <a href="#" class="card-link teaching-icon"><i style="color: Tomato;" class="fa-brands fa-2x fa-linkedin"></i></a>
                        <a href="#" class="card-link teaching-icon"><i style="color: Tomato;" class="fa-brands fa-2x fa-instagram"></i></a>
                        <a href="#" class="card-link teaching-icon"><i style="color: Tomato;" class="fa-brands fa-2x fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4  justify-content-center text-center d-flex flex-column align-items-center">
                <div class="card" style="width: 18rem">
                    <img src="https://i.postimg.cc/Gh0ML5GQ/young-woman-posing-with-notebook-white-background-high-quality-photo-114579-62463.webp"
                        class="card-img-top" alt="..." />
                    <div class="card-body">
                        <h4 class="card-title text-center">Pamela Henman</h4>
                    </div>
                    <div class="mt-2 mb-3 d-flex align-items-center justify-content-center">
                        <a href="#" class="card-link teaching-icon"><i style="color: Tomato;" class="fa-brands fa-2x fa-linkedin"></i></a>
                        <a href="#" class="card-link teaching-icon"><i style="color: Tomato;" class="fa-brands fa-2x fa-instagram"></i></a>
                        <a href="#" class="card-link teaching-icon"><i style="color: Tomato;" class="fa-brands fa-2x fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- teaching faculties -->

    <!-- FAQ -->
    <section class="mt-5 mb-5">
        <h2 class="fw-bolder  text-center" style="color: Tomato;">
            Frequently Asked Questions
        </h2>
        <div class="container mb-5">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed remove-background" type="button"
                            data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false"
                            aria-controls="flush-collapseOne">
                            Frequently Asked Question#1
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa
                            est pariatur sit itaque eos iusto repellat nemo incidunt aperiam
                            dignissimos quasi dicta nulla quas, suscipit optio nam
                            perferendis qui voluptatem?
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa est pariatur sit itaque eos
                            iusto repellat nemo incidunt aperiam dignissimos quasi dicta nulla quas, suscipit optio nam
                            perferendis qui voluptatem?
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed remove-background" type="button"
                            data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false"
                            aria-controls="flush-collapseTwo">
                            Frequently Asked Question #2
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa
                            est pariatur sit itaque eos iusto repellat nemo incidunt aperiam
                            dignissimos quasi dicta nulla quas, suscipit optio nam
                            perferendis qui voluptatem?
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed remove-background" type="button"
                            data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false"
                            aria-controls="flush-collapseThree">
                            Frequently Asked Question #3
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa
                            est pariatur sit itaque eos iusto repellat nemo incidunt aperiam
                            dignissimos quasi dicta nulla quas, suscipit optio nam
                            perferendis qui voluptatem?
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed remove-background" type="button"
                            data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false"
                            aria-controls="flush-collapseFour">
                            Frequently Asked Question #4
                        </button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa
                            est pariatur sit itaque eos iusto repellat nemo incidunt aperiam
                            dignissimos quasi dicta nulla quas, suscipit optio nam
                            perferendis qui voluptatem?
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed remove-background" type="button"
                            data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false"
                            aria-controls="flush-collapseFive">
                            Frequently Asked Question #5
                        </button>
                    </h2>
                    <div id="flush-collapseFive" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa
                            est pariatur sit itaque eos iusto repellat nemo incidunt aperiam
                            dignissimos quasi dicta nulla quas, suscipit optio nam
                            perferendis qui voluptatem?
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed remove-background" type="button"
                            data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false"
                            aria-controls="flush-collapseSix">
                            Frequently Asked Question #6
                        </button>
                    </h2>
                    <div id="flush-collapseSix" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa
                            est pariatur sit itaque eos iusto repellat nemo incidunt aperiam
                            dignissimos quasi dicta nulla quas, suscipit optio nam
                            perferendis qui voluptatem?
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- FAQ -->

    <!-- Footer -->
    <footer>
        <hr />
        <div class=" container">
            <h6 class="text-center">Copyright © 2023</h6>

        </div>
    </footer>
</body>
<script src="./script.js"></script>

</html>